:root {
  --userlist-full-width: 249px;
  --userlist-compact-width: 171px;
}

.userlist_ {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  border-radius: 10px;
  background-color: rgba(38, 28, 92, 0.5);
  overflow: hidden;
  padding: 5px 10px 10px 5px;
  overflow-y: auto;
  max-height: 100vh;
  box-sizing: border-box;
  width: var(--userlist-full-width);
  z-index: 2;
}

.userlist_.compact_ {
  width: var(--userlist-compact-width);
}

.userlist_[hidden] {
  display: none;
}

.userlist_:not(.shown_) {
  background-color: transparent;
}

.ul-buttons_ {
  display: flex;
  margin-bottom: 8px;
}

.ul-buttons_ > *:nth-child(n+2) {
  margin-left: 5px;
}


.ul-buttons_ > *:not(.ul-button_) {
  flex-grow: 1;
}

.ul-button_ {
  width: 30px;
  height: 30px;
  background-color: #6ba1ba;
  border-radius: 50%;
  position: relative;
  flex-shrink: 0;
}

.ul-button_::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.ul-activate-btn_::after {
  content: "";
  font-family: ico;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
}

.userlist_.shown_ .ul-activate-btn_::after {
  content: "";
  background: center / 18px no-repeat url('data:image/svg+xml,%3Csvg viewBox="0 0 512 512" height="512px" width="512px" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath d="M480 480H32c-17.7 0-32-14.3-32-32s14.3-32 32-32h448c17.7 0 32 14.3 32 32s-14.3 32-32 32z"/%3E%3C/svg%3E');
}

.userlist_:not(.shown_) .ul-button_:not(.ul-activate-btn_) {
  display: none;
}

.userlist_:not(.compact_) .ul-mode-btn_::after {
  background: center / 100% no-repeat url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24px' height='24px' viewBox='0 0 24 24' fill='none'%3E%3Cpath d='M13.7197 17.7803C14.0126 18.0732 14.4874 18.0732 14.7803 17.7803C15.0732 17.4874 15.0732 17.0126 14.7803 16.7197L12.2803 14.2197C11.9874 13.9268 11.5126 13.9268 11.2197 14.2197L8.71967 16.7197C8.42678 17.0126 8.42678 17.4874 8.71967 17.7803C9.01256 18.0732 9.48744 18.0732 9.78033 17.7803L11 16.5607L11 21.25C11 21.6642 11.3358 22 11.75 22C12.1642 22 12.5 21.6642 12.5 21.25V16.5607L13.7197 17.7803Z' fill='%23212121'/%3E%3Cpath d='M4 11.75C4 11.3358 4.33579 11 4.75 11H19.25C19.6642 11 20 11.3358 20 11.75C20 12.1642 19.6642 12.5 19.25 12.5H4.75C4.33579 12.5 4 12.1642 4 11.75Z' fill='%23212121'/%3E%3Cpath d='M12.5 2.75C12.5 2.33579 12.1642 2 11.75 2C11.3358 2 11 2.33579 11 2.75V6.93934L9.78033 5.71967C9.48744 5.42678 9.01256 5.42678 8.71967 5.71967C8.42678 6.01256 8.42678 6.48744 8.71967 6.78033L11.2197 9.28033C11.2916 9.35224 11.3745 9.40649 11.4629 9.44309C11.5513 9.47976 11.6483 9.5 11.75 9.5C11.9563 9.5 12.1431 9.41671 12.2787 9.28192C12.2793 9.28139 12.2798 9.28086 12.2803 9.28033' fill='%23212121'/%3E%3Cpath d='M12.2803 9.28033L14.7803 6.78033C15.0732 6.48744 15.0732 6.01256 14.7803 5.71967C14.4874 5.42678 14.0126 5.42678 13.7197 5.71967L12.5 6.93934V2.75' fill='%23212121'/%3E%3C/svg%3E");
}

.userlist_.compact_ .ul-mode-btn_::after {
  background: center / 100% no-repeat url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24px' height='24px' viewBox='0 0 24 24' fill='none'%3E%3Cpath d='M13.7197 5.78033C14.0126 6.07322 14.4874 6.07322 14.7803 5.78033C15.0732 5.48744 15.0732 5.01256 14.7803 4.71967L12.2803 2.21967C11.9874 1.92678 11.5126 1.92678 11.2197 2.21967L8.71967 4.71967C8.42678 5.01256 8.42678 5.48744 8.71967 5.78033C9.01256 6.07322 9.48744 6.07322 9.78033 5.78033L11 4.56066L11 8.75C11 9.16421 11.3358 9.5 11.75 9.5C12.1642 9.5 12.5 9.16421 12.5 8.75V4.56066L13.7197 5.78033Z' fill='%23212121'/%3E%3Cpath d='M4 11.75C4 11.3358 4.33579 11 4.75 11H19.25C19.6642 11 20 11.3358 20 11.75C20 12.1642 19.6642 12.5 19.25 12.5H4.75C4.33579 12.5 4 12.1642 4 11.75Z' fill='%23212121'/%3E%3Cpath d='M12.5 14.75C12.5 14.3358 12.1642 14 11.75 14C11.3358 14 11 14.3358 11 14.75V19.4393L9.78033 18.2197C9.48744 17.9268 9.01256 17.9268 8.71967 18.2197C8.42678 18.5126 8.42678 18.9874 8.71967 19.2803L11.2197 21.7803C11.5126 22.0732 11.9874 22.0732 12.2803 21.7803L14.7803 19.2803C15.0732 18.9874 15.0732 18.5126 14.7803 18.2197C14.4874 17.9268 14.0126 17.9268 13.7197 18.2197L12.5 19.4393V14.75Z' fill='%23212121'/%3E%3C/svg%3E%0A");
}

.userlist_.autokick_ .ul-autokick-btn_ {
  background-color: #5cffb6;
}

.userlist_ .ul-autokick-btn_::after {
  background: center / 85% no-repeat url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' x='0px' y='0px' width='256px' height='231px' viewBox='0 0 256 231' enable-background='new 0 0 256 231' xml:space='preserve'%3E%3Cpath d='M109.571,181.114l-31.497,12.953l9.702,9.442l-24.694,25.374L48.95,215.131c-5.203-5.065-9.34-11.12-12.166-17.808 l-2.756-6.523l-10.991-10.697l-5.204,5.483L2,172.428V85l64.896,48.899l-5.94,6.258c22.595,8.254,47.941,5.379,68.217-8.075 l2.299-1.526c4.55-3.018,10.588-2.455,14.501,1.352l5.899,5.741L109.571,181.114z M250.972,126.087l-29.367-29.367 c-1.939-1.938-4.568-3.027-7.309-3.027H186.32l13.714-37.959h42.154c4.349,0,7.875-3.526,7.875-7.875 c0-4.349-3.526-7.875-7.875-7.875h-66.979c-3.559,0-7.021,0.717-10.286,2.13l-24.256,10.495L121.688,33.53 c-3.065-3.083-8.053-3.098-11.136-0.029c-3.084,3.066-3.097,8.052-0.03,11.136l22.764,22.887c1.76,1.768,4.742,3.122,8.71,1.674 l18.39-7.957l-14.044,39.051c-1.44,3.687-1.175,8.788,1.41,11.698l22.341,23.512l-7.393,33.572 c-1.227,5.575,2.298,11.09,7.872,12.317c0.749,0.165,1.496,0.244,2.233,0.244c4.747,0,9.022-3.29,10.084-8.116l8.525-38.718 c0.712-3.233-0.168-6.61-2.365-9.085l-10.076-11.349h31.042l26.34,26.34c4.038,4.035,10.582,4.037,14.618,0 C255.009,136.669,255.009,130.124,250.972,126.087z M117.491,99.918l6.949-8.001l10,17.407L117.491,99.918z M96.5,128.313 l2.543-16.324L128,118.592L96.5,128.313z M166.262,18.481c0,9.038,7.327,16.365,16.365,16.365c9.038,0,16.365-7.327,16.365-16.365 s-7.327-16.365-16.365-16.365C173.589,2.116,166.262,9.443,166.262,18.481z'/%3E%3C/svg%3E%0A");
}

.userlist_.banlist_ .ul-banlist-btn_ {
  background-color: #5cffb6;
}

.userlist_ .ul-banlist-btn_::after {
  background: center / 74% no-repeat url("data:image/svg+xml,%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' x='0px' y='0px' viewBox='0 0 264.695 264.695' style='enable-background:new 0 0 264.695 264.695;'%3E%3Cg%3E%3Cg%3E%3Cpath style='fill:%23030104;' d='M219.171,216.785c-4.762,0-10.322,2.3-16.672,6.881l-35.211-12.968l35.734-12.978 c6.003,3.888,11.558,5.833,16.682,5.833c5.639,0,9.347-2.917,11.117-8.733c0.351-1.235,0.527-2.57,0.527-3.981 c0-7.397-4.766-11.378-14.295-11.9c3.876-3.882,5.828-7.687,5.828-11.392c0-3.871-2.039-7.149-6.092-9.797 c-2.118-1.049-4.325-1.584-6.615-1.584c-7.769,0-13.064,6.258-15.887,18.797l-61.941,23.039l-61.94-22.504 c-2.823-12.885-8.125-19.332-15.885-19.332c-2.293,0-4.501,0.535-6.62,1.584c-3.876,2.647-5.82,5.926-5.82,9.797 c0,3.705,1.944,7.51,5.82,11.392c-9.701,0.522-14.555,4.503-14.555,11.901c0,1.41,0.179,2.746,0.526,3.98 c1.946,5.816,5.651,8.733,11.122,8.733c5.113,0,10.671-1.945,16.677-5.832l35.998,12.977l-35.476,12.698 c-6.175-4.406-11.637-6.611-16.402-6.611c-5.654,0-9.623,2.918-11.919,8.733c-0.348,1.235-0.526,2.553-0.526,3.975 c0,7.405,4.853,11.385,14.555,11.907c-3.876,3.883-5.82,7.688-5.82,11.393c0,3.869,1.944,7.134,5.82,9.797 c2.477,1.412,4.854,2.105,7.153,2.105c7.227,0,12.443-6.176,15.619-18.525l61.673-22.504l61.678,22.504 c3.178,12.35,8.475,18.525,15.882,18.525c2.121,0,4.407-0.693,6.884-2.105c4.052-2.663,6.092-5.928,6.092-9.797 c0-3.705-1.953-7.51-5.828-11.393c9.528-0.522,14.295-4.502,14.295-11.907c0-1.422-0.177-2.739-0.527-3.975 C228.702,219.702,224.82,216.785,219.171,216.785z'/%3E%3Cpath style='fill:%23030104;' d='M48.436,128.904c9.703,11.114,23.379,19.242,41.035,24.346v3.986c0,4.936,1.672,9.086,5.025,12.433 c3.35,3.358,7.498,5.211,12.441,5.563c5.116,0.357,8.905-0.528,11.378-2.646c3.879,2.817,8.204,4.229,12.974,4.229 c4.41,0,8.474-1.316,12.175-3.963c2.471,1.934,6.087,2.738,10.856,2.381c4.937-0.528,9.089-2.426,12.44-5.689 c3.35-3.281,5.025-7.371,5.025-12.307v-2.91c19.057-4.945,33.795-13.237,44.21-24.898c10.059-11.109,15.087-24.253,15.087-39.435 c0-3.359-0.355-6.886-1.063-10.597c-3.525-22.571-13.938-41.201-31.229-55.844C180.612,7.856,158.464,0,132.347,0 c-26.123,0-48.27,7.767-66.44,23.282C48.61,38.118,38.289,56.825,34.937,79.396c-0.709,3.711-1.064,7.238-1.064,10.597 C33.873,104.817,38.724,117.778,48.436,128.904L48.436,128.904z M152.865,60.749c5.206-6.085,11.514-9.13,18.922-9.13 c7.592,0,13.986,3.045,19.194,9.13c5.2,6.076,7.81,13.446,7.81,22.087c0,8.649-2.609,16.021-7.81,22.108 c-5.208,6.097-11.603,9.13-19.194,9.13c-7.408,0-13.716-3.033-18.922-9.13c-5.211-6.087-7.814-13.459-7.814-22.108 C145.05,74.195,147.654,66.825,152.865,60.749z M124.805,121.428c2.556-3.307,5.065-4.968,7.542-4.968 c2.47,0,4.802,1.831,7.012,5.509c2.205,3.662,3.317,7.145,3.317,10.469c0,5.062-3.361,7.581-10.067,7.581 c-4.414,0-7.677-1.136-9.792-3.396c-1.237-1.411-1.849-3.147-1.849-5.249C120.969,128.065,122.245,124.752,124.805,121.428z M71.465,60.749c5.295-6.085,11.65-9.13,19.059-9.13c7.406,0,13.762,3.045,19.06,9.13c5.296,6.076,7.948,13.446,7.948,22.087 c0,8.649-2.651,16.021-7.948,22.108c-5.297,6.097-11.654,9.13-19.06,9.13c-7.409,0-13.764-3.033-19.059-9.13 c-5.292-6.087-7.944-13.459-7.944-22.108C63.521,74.195,66.173,66.825,71.465,60.749z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
}

.ul-users_,
.ul-banlist_ {
  padding-right: 3px;
  overflow-y: auto;
}

.userlist_:not(.shown_) .ul-users_,
.userlist_.banlist_ .ul-users_ {
  display: none;
}

.ul-users_::-webkit-scrollbar,
.ul-banlist_::-webkit-scrollbar {
  width: 4px;
}

.ul-users_::-webkit-scrollbar-thumb,
.ul-banlist_::-webkit-scrollbar-thumb {
  border-radius: 2px;
  width: 4px;
  background-color: rgb(204 204 204 / 50%);
}

.ul-user_ {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  background-color: rgba(255, 255, 255, 0.7);
  box-shadow: rgb(0 0 0 / 16%) 0px 3px 7px 0px;
  border: 2px solid transparent;
  border-radius: 100px 25px 25px 100px;
  color: rgb(48, 26, 107);
  padding: 5px 10px 5px 5px;
  margin: 5px 0;
}

.ul-user_.viewer_ {
  background-color: rgba(81, 116, 237, 0.5);
  border: 2px solid rgb(142, 182, 255);
  box-shadow: none;
  color: rgb(142, 182, 255);
}

.ul-user_:first-child {
  margin-top: 0 !important;
}

.ul-user_:last-child {
  margin-bottom: 0 !important;
}

.ul-user_.away_ {
  opacity: 0.7;
}

.ul-user_.banned_:not(.you_) {
  background-color: rgb(255 87 34 / 86%);
  border: 2px solid transparent;
}

.ul-av_ {
  margin: 0px 5px;
  width: 46px;
  height: 46px;
  display: flex;
  align-items: flex-end;
  -webkit-box-pack: center;
  justify-content: center;
  border-radius: 50%;
  border: 2px solid rgb(1, 36, 66);
  background-color: rgb(234, 241, 253);
  position: relative;
  flex-shrink: 0;
}

.ul-av_ > .img_ {
  margin: 0px 0px 2px;
  width: 44px;
  height: 50px;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.ul-user_.you_ .ul-av_::after {
  content: "";
  font-family: ico;
  color: rgb(255, 255, 255);
  font-size: 12px;
  position: absolute;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: -5px;
  right: -5px;
  width: 20px;
  height: 20px;
  background: rgb(45, 78, 143);
  background-size: contain;
  border: 2px solid rgb(1, 36, 66);
}

.ul-nick_ {
  max-width: 130px;
  min-width: 70px;
  font-family: Black;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0 10px;
  white-space: nowrap;
  flex-grow: 1;
}

.ul-user_.banned_ .ul-nick_ {
  color: rgb(48, 26, 107);
}

.ul-state_ {
  width: 26px;
  height: 26px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}

.ul-state_::after {
  margin: 1px 0px 0px;
  content: "";
  font-family: ico;
  color: rgb(231, 225, 255);
  font-size: 12px;
  line-height: 10px;
}

.ul-user_.owner_ .ul-state_ {
  background-color: rgb(118, 97, 201);
}

.ul-user_.ready_ .ul-state_ {
  background-color: rgb(168, 82, 82);
}

.ul-user_.away_ .ul-state_ {
  background-color: rgb(118, 97, 201);
}

.ul-user_.you.viewer_ .ul-state_ {
  background-color: rgb(21, 44, 131);
}

.ul-user_.owner_ .ul-state_::after {
  content: "";
}

.ul-user_.ready_ .ul-state_::after {
  content: "";
}

.ul-user_.away_ .ul-state_::after {
  content: "";
  width: 17px;
  font-size: 13px;
}

.ul-user_:not(.owner_):not(.ready_):not(.away_) .ul-state_ {
  flex: 0;
}

.ul-title_ {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-family: Black;
  font-size: 12px;
  color: rgb(142, 182, 255);
  letter-spacing: 0.65px;
  text-align: center;
  line-height: 22px;
}

.ul-title_::before,
.ul-title_::after {
  content: "";
  flex: 1 1 0%;
  height: 2px;
  background-color: rgb(142, 182, 255);
  margin: 0px 10px;
}

.ul-banlist_ {
  display: flex;
  flex-direction: column;
}

.userlist_:not(.shown_) .ul-banlist_ {
  display: none;
}

.userlist_:not(.banlist_) .ul-banlist_ {
  display: none;
}

.ul-banned-user_ {
  font-family: Black;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 20px;
  color: rgb(48, 26, 107);
  overflow: hidden;
  text-overflow: ellipsis;
  background-color: rgba(255, 255, 255, 0.7);
  box-shadow: rgb(0 0 0 / 16%) 0px 3px 7px 0px;
  padding: 2px 4px;
  flex-shrink: 0;
  border-radius: 4px;
}

.ul-banned-user_:nth-child(n+2) {
  margin-top: 2px;
}

.ul-banlist-placeholder_ {
  font-family: Black;
  font-size: 14px;
  color: rgb(48, 26, 107);
  letter-spacing: 0.65px;
  text-align: center;
  line-height: 36px;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 4px;
}

/* Compact Mode */

.userlist_.compact_ {
  padding: 5px 7px 5px 5px;
  border-radius: 6px;
}

.userlist_.compact_::-webkit-scrollbar-thumb {
  border-radius: 0 6px 6px 0;
}

.compact_ .ul-user_ {
  padding: 1px 3px 1px 5px;
  margin: 3px 0;
}

.compact_ .ul-nick_ {
  max-width: 106px;
  font-size: 12px;
  padding: 0 4px;
}

.compact_ .ul-av_ {
  max-width: 26px;
  max-height: 26px;
}

.compact_ .ul-av_ > .img_ {
  width: 26px;
  height: 30px;
  position: absolute;
  bottom: -1px;
  left: 0;
}

.compact_ .ul-user_.you_ .ul-av_::after {
  width: 12px;
  height: 12px;
  border-width: 1px;
  font-size: 8px;
  bottom: -2px;
  right: -5px;
}
